@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Poppins:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body {
    /* border: 2px solid red; */

    --purple: #58287F;
    --green: #0B9444;
    --chocolate: #1A0000;

    width: 90%;
    margin: 0 auto;
}

/* <!-- UNIVERSAL --> */

a:hover {
    text-decoration: none;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.btn-primary {
    background-color: #58287F;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-primary:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* <----- HERO NAVIGATION -----> */

.hero-nav {
    /* border: 2px solid red; */
    display: grid;
}

/* <!-- NAVBAR --> */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.nav-links ul li a:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    color: #58287F;
}


.navbar .logo img {
    max-width: 150px;
}


.nav-links ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.nav-links ul li a {
    color: black;
}

.navbar-cta a {
    color: white;
    text-decoration: none;
}

/* <------- HERO ---------> */

.hero {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: grid;
}

/* AUTHOR */

.author {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 80px;
    margin: 0 auto;
}

.author img {
    height: 40px;
    border-radius: 50%;
}

.author img:hover {
    transform: scale(1.18);
    cursor: pointer;
}

.author section {
    display: grid;
    gap: 5px;
    justify-content: space-around;
    font-weight: bolder;
}

.author-icons {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    margin: 0 auto;
}

.author-icons li {
    list-style: none;
}

.author-icons li img {
    height: 20px;
}

.blog-title {
    padding: 10px 80px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.blog-title h1 {
    font-size: 25px;
    font-weight: 600;
    color: var(--purple);
}

.blog-title p {
    font-size: 16px;
    font-weight: 200;
}

.blog-image {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    padding: 10px 80px;
    margin: 20px auto;
}

.blog-image img {
    max-width: 60vw;
}

/* <---- BLOG TEXT SECTION -------> */

.blog-text {
    /* border: 2px solid black; */

    padding: 20px 80px;
    display: grid;
    gap: 20px;
}

.blog-text-container {
    margin: 0 auto;
    padding: 10px 80px;

    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog-text-container p {
    line-height: 2;
}

/* BLOGS LOADER */

#loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

#blog-loader {
    font-size: 1.625rem;
    color: #58287F;
}

/* <--- LIKES SECTION ---> */

.likes-section {
    border: 2px solid #58287F;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: fit-content;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0.4px rgba(88, 40, 127, 0.25)
}

.like-icon {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
}

.like-icon svg {
    cursor: pointer;
    width: 50px;
    display: inline;
}

/* LIKES COUNT */

#likes-number {
    font-size: 20px;
    font-weight: 600;
    color: var(--purple);
}

/* <--- COMMENTS SECTION ---> */

.create-comment {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 80px;
}

.create-comment h1 {
    text-align: center;
    font-size: 30px;
}

.comment-form-container {
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.form-create-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

form textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    resize: none;
    border: 1px solid var(--purple);
}

form textarea:focus {
    outline: none;
}

.comment-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
}

.comment-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: 2px solid green; */
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}

form input[type="text"],
input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--purple);
    width: 90%;
}

form input:focus {
    outline: none;
}

/* <---- COMMENT SECTION -----> */

.comments {
    /* border: 2px solid red; */
    padding: 10px 80px;
    display: grid;
    gap: 20px;
}

.comments h1 {
    text-align: center;
}

.comments-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.comment-box {
    border: 1px solid var(--purple);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px 20px;
    padding: 10px;
    margin: 0 auto;
}

.comment-box #comment-heading {
    font-size: 18px;
    font-weight: 600;
}

.comment-box #comment-date {
    font-size: 14px;
    font-weight: 200;
}

/* PAGINATION */

.pagination {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
    align-self: center;
    justify-self: center;
}

.pagination a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a:hover {
    color: var(--purple);
    text-decoration: none;
}

.page-numbers-container {
    display: flex;
}

.page-numbers-container ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}

.page-numbers-container ul li a {
    border: 1px solid var(--purple);
    border-radius: 50%;
    text-align: center;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-numbers-container ul li .page-number {
    font-size: 14px;
    font-weight: 500;
}

.page-numbers-container ul li .page-current {
    padding: 8px 12px;
}

.page-numbers-container ul li .page-current:hover {
    color: white
}

.page-current {
    background-color: var(--purple);
    color: white;
}

.pagination svg {
    height: 35px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    background-color: var(--purple);
}

/* <-- FOOTER --> */

.footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 80px;
}

/* FOOTER UP  */

.footer-up {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 20px 0;
}

.footer-up span {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.newsletter {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
}

.newsletter form {
    padding: 10px 0;
}

.form-submit input[type="submit"] {
    padding: 8px 10px;
    border: 1px solid #58287F;
    border-radius: 5px;
    outline: none;
}

.newsletter h1 {
    color: #58287F;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

.quick-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
}

.quick-links h1 {
    color: #58287F;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

.quick-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.quick-links ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.quick-links #admin-link {
    padding: 5px 10px;
    background-color: #58287F;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}

.quick-links #admin-link:hover {
    text-transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

.form-container {
    /* text-align: center; */
    padding: 10px 50px;
}

.form-container h1 {
    color: #58287F;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #58287F;
}

form input:focus {
    outline: none;
}

form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #58287F;
    resize: none;
}

form textarea:focus {
    outline: none;
    border: 1px solid #58287F;
}

form input[type="submit"] {
    display: inline-block;
    width: auto;
}

/* FEEDBACK VALIDATION  */

#newsletter-error,
#contact-form-error,
#contact-name-error,
#contact-email-error,
#contact-message-error {
    color: red;
    display: none;
}

#newsletter-success,
#contact-form-success {
    color: green;
    display: none;
}

/* FOOTER DOWN  */

.copyright-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.copyright-heading h1 {
    font-size: 25px;
    font-weight: 300;
}

.copyright-heading h1 span {
    font-size: 35px;
    color: #58287F;
    font-weight: 700;
}

.copyright-heading p {
    font-size: 16px;
    font-weight: 400;
}

.copyright-heading p span {
    color: #58287F;
}

.copyright-social-icons ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    list-style: none;
}

.copyright-social-icons ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.copyright-social-icons ul li a:hover {
    transform: scale(1.02);
}

.copyright-social-icons ul li img {
    height: 35px;
    transform: scale(1.02);
}

.copyright-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.copyright-footer p {
    font-size: 16px;
    font-weight: 500;
}

/* <----- RESPONSIVENESS------->  */

/* HAMBURGER MENU */

.hamburger {
    display: none;
}

.hamburger a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #58287F;
}

.hamburger a svg {
    height: 50px;
}

.hamburger .is-not-active {
    display: none;
}

/* SKILLS SECTION  */

.comments-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.carousel-direction a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    background-color: #58287F;
}

.carousel-direction a svg {
    height: 10px;
}

.carousel-dots {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #58287F;
}

.dot-fill {
    background-color: #58287F;
}

.responsive {
    display: none;
}

.hero-nav .hide-nav {
    display: none;
}

/* <----- MEDIA QUERIES ------->  */

@media screen and (max-width: 420px) {


    /* <---- RESPONSIVE NAVBAR ----> */

    .responsive-nav {
        position: relative;
        top: 0;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: white;
    }

    .responsive-nav .nav-links ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    .responsive-nav .navbar-cta {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    /* NAVBAR  */

    .hero-nav {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .navbar {
        padding: 15px 50px;
    }


    .logo img {
        height: 15px;
    }

    .navbar .nav-links,
    .navbar .navbar-cta {
        display: none;
    }

    .hamburger {
        display: block;
    }

    /* <--- HERO ---> */

    .hero {
        /* border: 2px solid red; */
        gap: 10px;
        padding: 20px;
    }

    .author {
        padding: 20px;
    }

    .blog-title {
        padding: 0 20px;
    }

    .blog-title h1 {
        font-size: 20px;
    }

    .blog-title p {
        font-size: 14px;
    }

    .blog-image {
        padding: 0 10px;
    }

    /* BLOG TEXT  */

    .blog-text {
        padding: 20px;
    }

    .blog-text-container {
        padding: 20px;
    }

    /* CREATE COMMENT  */

    .create-comment {
        /* border: 2px solid red; */
        padding: 20px;
    }

    .create-comment h1 {
        font-size: 30px;
    }

    .comment-form-container {
        padding: 20px 40px;
    }

    .comment-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .input-container {
        margin: 0;
        width: 100%;
    }

    form input[type="text"],
    input[type="email"] {
        width: 100%;
    }

    /* COMMENTS  */

    .comments {
        /* border: 2px solid red; */
        padding: 20px 40px;
    }

    .comments h1 {
        font-size: 30px;
    }

    .comments-container {
        display: flex;
        flex-direction: column;
    }

    .comments-carousel {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .comment-box {
        display: none;
    }

    .comment-box:first-child {
        display: block;
    }

    /* CAROUSEL DOTS */

    .carousel-dots {
        display: flex;
    }

    .carousel-direction {
        display: flex;
    }


    /* <---- FOOTER ----> */

    .footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;

        /* border: 2px solid black; */
    }

    /* FOOTER UP  */

    .footer-up {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .form-container {
        padding: 10px 20px;
    }

    .form-container h1 {
        padding: 5px 0;
    }

    form {
        padding: 10px 0;
    }

    .quick-links {
        padding: 10px 20px;
    }

    /* FOOTER DOWN  */

    .copyright-heading h1 {
        font-size: 20px;
        font-weight: 600;
    }

    .copyright-heading h1 span {
        color: #58287F;
        font-size: 28px;
    }

    .copyright-heading p {
        font-size: 14px;
        font-weight: 400;
    }

    .copyright-social-icons ul li img {
        height: 30px;
    }

}