@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Poppins:wght@100;200;300;400&display=swap');

/* COLOR PALETTE {

  PURPLE (main): #58287F;

  GREEN: #0B9444;

  CHOCOLATE: #1A0000;

} */

:root {
    --purple: #58287F;
    --green: #0B9444;
    --chocolate: #1A0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

  /* <!-- UNIVERSAL --> */

a:hover {
    text-decoration: none;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.nav-button-primary {
    text-decoration: none;
    background-color: var(--purple);
    color: white;
    width: 100%;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
}

.btn-primary {
    background-color: var(--purple);
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-primary:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

body {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 20% 80%;
}

/* <---- NAVIGATION BAR ------> */

.navbar-container {
    /* border: 2px solid red; */
    height: 100%;
}

.navbar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 40px 20px;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 150px;
}

/* NAVIGATION MENU  */

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

/* NAVIGATION LINKS  */

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}

#dashboard-btn, #dashboard-logout {
    background-color: white;
    color: var(--purple);
    border: 1px solid var(--purple);
}

/* NAVIGATION USER  */

.nav-user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    /* border: 2px solid green; */
}

.user-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.user-address p {
    font-size: 14px;
}

.user-address a {
    font-size: 16px;
    color: var(--purple);
    font-weight: 500;
    text-decoration: none;
}

.user-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

/* <---- DASHBOARD INBOX -----> */

.inbox-dashboard {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
}

.inbox-dashboard h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.inbox-dashboard h1 span {
    color: var(--purple);
}

.messages-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* border: 2px solid black; */
}

.message-box {
    border: 1px solid var(--purple);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px 20px;
    padding: 10px;
    max-width: 90%;
}

.message-box #message-heading {
    font-size: 18px;
    font-weight: 600;
}

.message-box #message-email {
    font-size: 16px;
    font-weight: 300;
    color: var(--purple);
}

.message-box #message-date {
    font-size: 12px;
    font-weight: 300;
}

/* <--- PAGINATION ---> */

.pagination {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
    align-self: center;
    justify-self: center;

    display: none;
}

.pagination a {
    text-decoration: none;
}

.pagination a:hover {
    color: var(--purple);
    text-decoration: none;
}

.page-numbers-container {
    display: flex;
}

.page-numbers-container ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}

.page-numbers-container ul li a {
    border: 1px solid var(--purple);
    border-radius: 50%;
    text-align: center;
    padding: 5px 12px;
}

.page-numbers-container ul li .page-number {
    font-size: 14px;
    font-weight: 500;
}

.page-numbers-container ul li .page-current:hover {
    color: white
}

.page-current {
    background-color: var(--purple);
    color: white;
}

.pagination svg {
    height: 35px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    background-color: var(--purple);
}

/* <----- RESPONSIVENESS------->  */

  /* HAMBURGER MENU */

  .hamburger {
    display: none;
}

.hamburger a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: #58287F;
}

.hamburger a svg {
    height: 50px;
}

.hamburger .is-not-active {
    display: none;
}

.responsive {
    display: none;
}

/* <---- MEDIA QUERIES -----> */

@media screen and (max-width: 420px) {

    .navbar-container .hide-nav {
        display: none;
    }

    /* <--- BODY ---> */

    body {
        display: flex;
        flex-direction: column;
    }

    /* <--- NAVBAR ----> */

    .navbar-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: auto;
        padding: 10px 40px;
    }

    .navbar {
        display: flex;
        height: auto;
        padding: 20px;
        align-items: flex-start;
        height: 50vh;
    }

    .hamburger {
        display: block;
    }

    /* <---- DASHBOARD INBOX-----> */

    .inbox-dashboard {
        padding: 20px;
    }

    .inbox-dashboard h1 {
        font-size: 20px;
    }

    .messages-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .message-box {
        text-align: center;
        display: none;
    }

    .message-box:first-child {
        display: flex;
    }

    .message-box #message-heading {
        font-size: 16px;
    }

    .message-box #message-email {
        font-size: 14px;
    }

    .message-box #message-date {
        font-size: 12px;
    }

    .message-box p {
        font-size: 16px;
    }

    /* <--- PAGINATION ---> */

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }

    .pagination a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}