@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Poppins:wght@100;200;300;400&display=swap');

:root {
    /* border: 0.125rem solid red; */

    --purple: #58287F;
    --green: #0B9444;
    --chocolate: #1A0000;
}

/* UNIVERSAL */
.portfolio-primary {
    background-color: #58287F;
}

.portfolio-secondary {
    background-color: black;
}

.portfolio-cta a {
    text-decoration: none;
    color: white;
    padding: 0.3125rem 1.25rem;
    text-align: center;
    border-radius: 0.3125rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.portfolio-cta a:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

/* HERO NAV */

.hero-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* <!-- HERO SECTION --> */

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 5rem;
    height: 100%;
}

/* HERO TEXT  */

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    justify-content: center;
    width: 90%;
}

.hero-text-heading {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.hero-text-heading h1 {
    text-transform: none;
    text-align: left;
}

.hero-text-heading h1 span {
    color: var(--purple);
    text-transform: uppercase;
    font-weight: 600;
}

.hero-text-heading p {
    word-wrap: break-word;
    max-width: 250px;
}

#hero-small-skills {
    font-size: 0.625rem;
    color: var(--purple);
}

.hero-cta {
    height: auto;
}

/* HERO IMAGE  */

.hero-image {
    background-image: url('./images/nishimwe-formal.jpg');
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.hero-line {
    border-left: 3px solid var(--purple);
    height: 50%;
    width: 0.125rem;
    padding: 0.625rem;
    display: none;
}

.hero-line:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.hero-image ul {
    padding: 1.25rem 0;
    display: flex;
    flex-direction: column;
    height: 40%;
}

.hero-image ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translate(0, -50%);
}

.hero-image ul li {
    height: 7vh;
    width: 7vw;
    display: flex;
    justify-content: flex-end;
}

.hero-image ul li img {
    height: 100%;
}

.hero-image ul li img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

/* <!-- ABOUT SECTION --> */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding: 1.825rem 0;
    width: 90%;
    margin: 0 auto;

    /* border: 0.125em solid red; */
}

.about-text {
    display: grid;
    grid-template-columns: 10% 85%;
    gap: 5%;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 0;
    width: 80%;
    margin: 0 auto;

    /* border: 2px solid red; */
}

.about-text hr {
    border: 1px solid var(--purple);
    width: 100%;
}

.about-text p span {
    font-weight: 500;
    color: var(--purple);
}

/* <-- SKILLS SECTION --> */

.skills {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.skills-container {
    display: grid;
    align-items: center;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 1.25rem 0;
    gap: 1.25rem;

    /* border: 2px solid red; */
}

.skill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    padding: 2.5rem;
    min-width: 6.25rem;
    border-radius: 0.625rem;
    background-color: rgba(196, 196, 212, 0.25);
}

.skill-box:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.skill-box img {
    height: 3.75rem;
}

.skill-box p {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

/* <-- PORTFOLIO --> */

.portfolio {
    padding: 1.25rem 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 1.25rem;
}

.portfolio-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: 1.25rem;
    width: 80%;

    /* border: 2px solid red; */
}

.portfolio-box {
    display: grid;
    grid-template-rows: 15% 60% 15%;
    gap: 5%;
    height: fit-content;
    padding: 2rem 1.25rem;
    border: 1px solid var(--purple);
    border-radius: 5px;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}

.portfolio-box h3 {
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.portfolio-box p {
    word-wrap: break-word;
    max-width: 90%;
    text-align: center;
    margin: 0;
}

.portfolio-cta {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin: 0.625rem auto;
}

.portfolio-button {
    display: flex;
    justify-content: center;

    padding: 1.25rem;
}

/* <--- EXPERIENCE SECTION --> */

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    width: 100%;
    justify-content: center;
    padding: 1.25rem 0;
    width: 90%;
    margin: 0 auto;

    /* border: 2px solid red; */
}

.experience-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.825rem;
    width: 90%;
    margin: 0 auto;
}

.experience-box {
    display: grid;
    grid-template-rows: 20% 80%;
    place-items: center;
    gap: 0.625rem;
    background-color: rgba(196, 196, 212, 0.25);
    padding: 1rem;

    border-radius: 0.625rem;
}

.experience-logo {
    height: 10vh;
}

.experience-logo img {
    height: 100%;
}

.experience-header {
    height: auto;
    padding: 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}

.experience-header h4 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.experience-date {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--purple);
}

/* <-- BLOGS SECTION --> */

.blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding: 1.25rem 0;
    width: 90%;
    margin: 0 auto;

    /* border: 2px solid red; */
}

.blogs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    place-content: center;
    width: 90%;
    margin: 0 auto;
}

.blog-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.3125rem 0.625rem 1rem;
    text-align: center;
    border: 1px solid var(--purple);
    max-width: 90%;
    margin: 0 auto;
    /* background-color: rgba(211, 211, 219, 0.25); */
}

.blog-box img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 0.3125rem;
}

.blog-text h4 {
    font-size: 1rem;
    padding: 0 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

.blog-cta {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.blog-cta a {
    padding: 0.3125rem 1rem;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 0.3125rem;
    text-transform: uppercase;
    font-size: 0.875rem;
}

.blogs-cta {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

/* RESPONSIVENESS */

/* SKILLS SECTION  */

.skills-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-direction a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 0.625rem;
    border-radius: 50%;
    background-color: var(--purple);
}

.carousel-direction a svg {
    height: 1.25rem;
}

.carousel-dots {
    /* border: 0.125rem solid red; */
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    border: 0.0625rem solid var(--purple);
    display: none;
}

.dot-fill {
    background-color: var(--purple);
}

/* <---- MEDIA QUERIES -----> */

/* <--- 1000 PX ---> */

@media screen and (max-width: 1000px) {

/* ABOUT SECTION  */

.about-text {
    grid-template-columns: 1fr;
}

.about-text hr {
    width: 50%;
    margin: -50px auto 0;
}

/* SKILLS SECTION  */

.skills-container {
    grid-template-columns: repeat(3, 1fr);
}

/* PORTFOLIO  */

.portfolio h3 {
    font-weight: 600;
}

}

/* <!-- 950 PX --> */

@media screen and (max-width: 950px) {

    /* HERO  */

    .hero {
        padding: 0 3rem;
    }

}

/* <!-- 800 PX --> */

@media screen and (max-width: 800px) {

    /* HERO  */

    .hero {
        padding: 0 2rem;
    }

    /* ABOUT  */

    .about-text {
        text-align: center;
    }

    /* PORTFOLIO  */

    .portfolio-box {
        padding: 2rem 1rem;
    }

    .portfolio-cta {
        flex-direction: column;
    }

}

/* <--- 700 PX ---> */

@media screen and (max-width: 700px) {

    /* HERO NAV  */

    .hero-nav {
        height: 120vh;
    }

    /* HERO  */

    .hero {
        padding: 0 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }

    .hero-text {
        order: 2;
        align-items: center;
        text-align: center;
    }

    .hero-image {
        order: 1;
        width: 80%;
        margin: 0 auto;
        height: 100%;
    }

    .hero-image ul {
        gap: 10px;
    }

    .hero-text-heading h1 {
        text-align: center;
    }

}